<div>
    {{#each apiRes}}
    <div id="artist">
        <picture>
            <img src="{{img}}" alt="{{name}}">
        </picture>
        <h2>{{name}}</h2>
        <a href="/tracks/{{id}}">View Tracks</a>
    </div>
    {{/each}}
</div>